.body {
    font-family: 'Roboto', sans-serif;
}

.background {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgb(21, 124, 119) 15%, rgb(200, 200, 200) 15%);
}

.box-container {
  height: 80%;
  min-height: 300px;
  width: 90%;
  min-width: 900px;
  max-width: 1200px;
  background-color: #fff;
  border: 1px solid rgb(179, 179, 179);
  box-shadow: 0 0 30px 2px rgba(111, 143, 135, 0.5);
}

.main {
  width: 65%;
}

.sidebar {
  height: 100%;
  width: 35%;
  min-width: 350px;
  max-width: 500px;
  border-right: 1px solid rgb(180, 180, 180);
  overflow-y: hidden;
}

.contacts-list-container {
  height: 100%;
  overflow: auto;
}

.avatar-container {
  cursor: pointer;
  background-color: #fff;
}

.avatar-container:hover {
  background-color: #e9ebec;
}

.contacts-avatar {
  height: 50px;
  border-radius: 50%;
}

.notify-container {
  background-color: #9fd8f8;
  height: 70px;
}

.icons {
  color: rgb(180, 180, 180);
  font-size: 18px;
  cursor: pointer;
}

.fas:hover,
.far:hover {
  color: #419388;
}

.icon {
  color: #9fd8f8;
  background-color: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.text-size {
  font-size: 14px;
  margin: 0;
}

.link {
  font-size: 11px;
  color: rgb(92, 92, 92);
}

.search-container {
  border: 1px solid #e9ebec;
}

.input {
  border: none;
  outline: none;
  padding: 3px;
}

.input.search {
  width: calc(100% - 40px);
  font-size: 13px;
}

.input.message {
  width: 80%;
  padding: 10px;
  font-size: 13px;
}

.chat-icon {
  font-size: 25px;
  color: rgb(100, 100, 100);
  cursor: pointer;
}

.selected-chat {
  background-color: #cacaca;
}

/* main */

.contact-chat {
  background-color: #eae9ea;
}

.chat-bg {
  height: calc(100% - 120px);
  background: url(../img/mine.jpg) repeat 50% 50%;
  font-weight: 500;
  overflow-y: auto;
}

.chat-input {
  height: 65px;
  background-color: #eae9ea;
}

.chat-mex::after{
  content: "";
  clear: both;
  display: table;
}

.sent {
  background-color: #dcf8c0;
  border-radius: 15px;
  min-width: 200px;
  max-width: 300px;
  word-break: normal;
  float: right;
}

.received {
  background-color: #fff;
  border-radius: 15px;
  min-width: 200px;
  max-width: 300px;
  word-break: normal;
  float: left;
}

.date {
  font-size: 11px;
  text-align: right;
  color: rgb(146, 146, 146);
}

.show {
  display: block;
}

.hide {
  display: none;
}